html{
    scroll-behavior: smooth;
  }
  :root{
      --light-purple: #903367;
      --dark-purple: #971d55;
      --blue:#2a3b71;
      --green: #599459;
  }
  h1,h2,h3,h4,h5,h6{
      padding: 0;
      margin: 0;
  }
  p{
      padding: 0;
      margin: 0;
  }
  ul{
      padding: 0;
      margin: 0;
  }
  .section-title{
    text-align: center;
    margin-bottom: 50px;
    color: var(--blue);
  }
  .section-title h1{
      font-weight: bold;
  }
  .section-title-white{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
  }
  .section-title-white h1{
      font-weight: bold;
  }
  .btn{
      background-color: var(--pink);
      color: #fff;
      border: 1px solid var(--pink);
      padding: 12px 20px;
      border-radius: 0;
  }
  .icon{
    font-size: 18px;
    color: var(--light-purple);
    border: 2px solid var(--dark-purple);
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 10px;
    margin-left: 5px;
    display: inline-block;
  }
  .btn-view{
      background-color: transparent;
      color: var(--pink);
  }
  .form-control{
      height: 50px;
      margin-bottom: 15px;
  }
  .float-right{
      float: right!important;
  }
  a:hover{
    text-decoration: none;
}
  section{
      padding: 100px 0;
  }
  .mb-50{
    margin-bottom: 50px;
}
 .mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-70{
    padding-bottom: 70px;
}
.pt{
    padding-top: 70px;
}
li{
    list-style: none;
}
.bold{
    font-weight: bold;
}
.color-white{
    color: #fff;
}

/* ===========================================
================ Navbar ================  
=========================================== */
.navbar{
    background-color: var(--light-purple);
    color: #fff;
    padding: 15px 0;
}
.nav-link{
    color: #fff!important;
    padding: 1px 0;
    /* width: 129px; */
    text-align: center;
    margin-bottom: 4px;
}
.nav-item{
    margin-right: 15px;
    transition: 1s all ease;
}
.nav-home{
    background-color: white;
    border-radius: 20px;
    color: var(--light-purple)!important;
}
.nav-link:hover{
    background-color: #fff;
    color: var(--light-purple)!important;
    border-radius: 20px;
}
.dropdown-menu{
    background-color: var(--dark-purple);
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    color: var(--light-purple);
}

/* ===========================================
================ About ================  
=========================================== */
.about-textarea{
    color: var(--blue);
}
/* ===========================================
================ Feature ================  
=========================================== */
/* #feature{
    position: relative;
    background-image: url(../images/feature/feature-bg.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
    padding-bottom: 0%;
}
.feature-img{
    width: 100%;
}
.feature-box{
    color: #fff;
}
.overlay{
    background-color: #000000c9;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
} */
#feature{
    background-color: var(--dark-purple);
}
.feature-img{
    margin-right: 10px;
}
.feature-box{
    color: #fff;
}
/* ===========================================
================ business ================  
=========================================== */
.business-box a{
    color: var(--dark-purple);
    background-color: #fff;
    border: 2px solid var(--dark-purple);
    border-radius: 30px;
    padding: 12px 40px;
    transition: .5s all ease;
}
.business-box a:hover{
    color: #fff;
    background-color: var(--dark-purple);
}
.business-head h1{
    font-weight: bold
}
.business-box{
    color: var(--dark-purple);
}
/* ===========================================
================ Testimonial ================  
=========================================== */
/* .testimonial-box a{
    font-size: 18px;
    color: var(--light-purple);
    border: 2px solid var(--dark-purple);
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 33px;
    margin-right: 10px;
    display: inline-block;

} */
.testimonial-box{
  border: 2px solid var(--light-purple)!important;
  color: var(--blue);
  padding: 10px 5px;
}
.testimonial-box .icon{
    color: var(--light-purple);
}
/* #testimonial{
    background-image: url(../images/testimonial/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
} */
/* ===========================================
================ Stat ================  
=========================================== */
#stat{
    background-image: url(../images/statistics/statistics-bg.jpg);
    background-color: var(--light-purple);
    background-blend-mode: multiply;
    opacity: .9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.stat-box{
    color: #fff;
}
.stat-box h3{
    font-size: 80px;
}
.stat-box p{
    font-size: 25px;
}
/* ===========================================
================ Pricing ================  
=========================================== */
.dollar{
    font-size: 80px;
}
.dollar-sign{
    font-size: 20px;
    position: relative;
    top: 71px;
}
.pricing-money{
    display: inline-flex;
}
.pricing-box a{
    color: var(--blue);
    background-color: #fff;
    border: 2px solid var(--blue);
    border-radius: 30px;
    padding: 12px 30px;
}
.pricing-box{
    border: 1px solid var(--blue);
    transition: .5s all ease;
    color: var(--blue);
    margin-bottom: 40px;
    margin-top: 20px;
}
.pricing-box:hover{
    transform: scale(1.1);
}
.pricing-box:hover .pricing-btn a{
    background-color: var(--blue);
    color: #fff;
}
.new-feature{
    border: 1px solid var(--dark-purple);
    transition: .5s all ease;
    color: var(--dark-purple);
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px 0;
}
.new-feature:hover .pricing-btn a{
    background-color: var(--dark-purple);
    color: #fff;
}
.new-feature .pricing-btn a{
    border: 2px solid var(--dark-purple);
    color: var(--dark-purple);  
}
#pricing{
    padding-bottom: 60px;
}
.video-box{
    position: relative;
}
#video{
    background-color: var(--light-purple);
}
.video-box2 img{
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ===========================================
================ Team ================  
=========================================== */
/* .team-box a{
    font-size: 18px;
    color: #fff;
    border: 2px solid var(--dark-purple);
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 33px;
    margin-right: 10px;
    /* margin-right: 5px;
    margin-left: 5px; 
    display: inline-block; 
}*/
.team-box .icon{
    color: #fff;
    margin-right: 1px;
}
.team-box{
    position: relative;
    overflow: hidden;
    color: #fff;
}
.team-textarea{
    position: absolute;
    bottom: -310px;
    left: 0;
    /* background-color: var(--light-purple); */
    padding: 0 3px 5px 8px;
    transition: .5s all ease;
}
.team-box:hover .team-textarea{
    bottom: 0;
}
.facebook:hover{
    background-color: #1f48fd!important;
}
.twitter:hover{
    background-color: #3c5ff3!important;
}
.insta:hover{
    background-color: #f12484!important;
}
.linkedin:hover{
    background-color: #f5183a!important;
}
/* ===========================================
================ Download ================  
=========================================== */
.download-box a{
    color: var(--blue);
    background-color: #fff;
    border: 2px solid var(--dark-purple);
    border-radius: 30px;
    padding: 12px 20px;
    text-align: center;
    /* width: 240px; */
    display: block;
}
.download-box a:hover{
    color: #fff;
    background-color: var(--blue);
}
/* ===========================================
================ Blog ================  
=========================================== */
.blog-box{
    color: var(--blue);
}
.blog-icon{
    background-color: #e4e0e0;
    padding: 10px 0;
    margin: 0 15px;
    position: relative;
    bottom: 22px;
}
.blog-icon a{
    color: var(--blue);
}
.blog-textarea a{
    color: var(--blue);
    background-color: #fff;
    border: 2px solid var(--blue);
    border-radius: 30px;
    padding: 12px 30px;
}
.blog-box:hover .blog-textarea a{
    color: var(--dark-purple);
    border: 2px solid var(--dark-purple);
}
.blog-box-btn a{
    color: var(--dark-purple);
    background-color: #fff;
    border: 2px solid var(--dark-purple);
    border-radius: 30px;
    padding: 12px 30px;
}
.call-box a{
    color: var(--dark-purple);
    background-color: #fff;
    border: 2px solid var(--blue);
    border-radius: 30px;
    padding: 12px 20px;
    text-align: center;
    /* width: 240px; */
    display: block;
}
.call-box a:hover{
    color: #fff;
    background-color: var(--dark-purple);
}
/* ===========================================
================ Contact ================  
=========================================== */
.contact-box a{
    padding: 10px 25%;
    background-color: var(--dark-purple);
    color: #fff;
}
#contact{
    background-image: url(../images/contact/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
    background-color: var(--light-purple);
    background-blend-mode: soft-light;
}
.contact-box a:hover{
    color: var(--dark-purple);
    background-color: #fff;
}
/* .contact-box-right a{
    font-size: 18px;
    color: #fff;
    border: 2px solid var(--dark-purple);
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 10px;
    /* margin-left: 5px; 
    display: inline-block;
} */
.contact-box-right{
    color: #fff;
}
.contact-box-right .icon{
    color: #fff;
    margin-right: 5px;
}
/* ===========================================
================ Subscribe ================  
=========================================== */
.subscribe-box a{
    background-color: var(--dark-purple);
    color: #fff;
    padding: 13px 22px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
}
.subscribe-box{
    position: relative;
    color: var(--blue);
}

.subscribe-box .form-control{
    border: 1px solid var(--dark-purple);
    border-radius: 50px;
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
}
/* ===========================================
================ Testimonial2 ================  
=========================================== */
#testimonial2-carousel .item{
    padding: 10px;
    opacity: 0.8;
}
#testimonial2-carousel .owl-item.active.center .item{
    opacity: 1 !important;
    transform: scale(1.05);
}



/* ===========================================
================ Footer ================  
=========================================== */
footer{
    background-color: var(--dark-purple);
    color: #fff;
    padding: 100px 0 0 0;
}
/* .lower-footer-icon a{
    font-size: 18px;
    color: #fff;
    background-color: #520735;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    display: inline-block;
} */

.lower-footer-icon .icon {
    background-color: #520735;
    color: #fff;
}


.footer-box a{
    color: #fff;
}
.footer-map iframe{
    height: 170px;
}
.lower-footer-area{
    border-top: 1px solid #fff;
    padding-top: 20px;
}
@media only screen and (max-width:767px){
    .lower-footer{
        text-align: center;
    }
    .lower-footer-icon{
        justify-content: center;
        float: none!important;
    }
    .contact-form, .form-control{
        display: block!important;
    }
    .download-box{
        justify-content: center;
    }
}
@media only screen and (max-width:767px){
    /* .subscribe-box a{
        display: block;
        width: 100%;
        position: relative;
    } */
}
@media only screen and (max-width:575px){
    .footer-box{
        text-align: center;
    }
}
@media only screen and (max-width:383px){
    .subscribe-box h3{
       font-size: 19px;
    }
}
@media only screen and (max-width:350px){
    .section-title h1{
        font-size: 30px;
    }
    .section-title-white h1{
        font-size: 30px;
    }
}
